@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700&family=Frank+Ruhl+Libre:wght@700;900&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,500;1,800&display=swap');

/*Home page*/

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.wrapper {
    background-image: url(/css/bilder/bakgrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.navigation__logo {
    margin: 20px 100px 20px 20px;
    width:90px;
    height:auto;
}

.navigation__language {
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    font-size: 1rem;
}

.navigation__menu {
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
}

.navigation__menu-page {
    margin: 50px;
    color: whitesmoke;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18%;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    color: whitesmoke;
    font-size: 6rem;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

.title__addition {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: whitesmoke;
    font-size: 1rem;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:430px;
}

.social__homepage {
    height: 30px;
    width: auto;
    margin: 8px;
}

/*About page*/

.content {
    display: flex;
    flex-direction: column;
}

.about {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    margin: 0 0 200px 0;
    width: 100%;
}

.about__colored {
    background-color: #63432E;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
}

.about__image {
    width: 100%;
    border: solid black 1px;
}

.about__white {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 5rem;
    padding: 38px;
    margin: 60px 0 0 30px;
    font-family: 'Playfair Display', serif;
}

.about__text {
    color: black;
    padding: 60px;
    margin: 0 0 20px 0;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.about__button,
.gallery_button {
    width: 400px;
    height: 80px;
    margin: 20px 0 200px 60px;
}

.about__button-text,
.gallery__buttont-text {
    margin: 0;
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.about__white-title {
    font-size: 5rem;
    padding: 60px;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
}

.about__white-text {
    color: black;
    padding: 60px;
    margin: 0;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.about__quote {
    background-color: #63432E;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__quote-title {
    font-size: 7rem;
    padding: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

.about__quote-text {
    color: #000;
    margin-left: 38%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

/*Aside with instagram gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
}

.gallery__image {
    grid-column: auto / span 2;
    width: 1000px;
    height: auto;
    margin-top: 80px;
    border: solid black 3px;
}

.gal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    align-self: flex-start;
    margin: 50px 0 80px 180px;
    font-size: 6rem;
    font-family: 'Playfair Display', serif;
}

.bigfooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #63432E;
    border-top: solid black 3px;
    height: 28%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}

.contacts__text {
    color: #000;
    font-size: 50px;
}

/*Booking page*/

.background {
    background-image: url(/css/bilder/bakgrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.calender {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.calender__wrapper {
    width: 48%;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
}

.calender__box,
.calender__button {
    border: #63432E solid 5px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calender__box-text,
.calender__button-text {
    color: #63432E;
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px;
    font-family: 'Playfair Display', serif;
}

.main {
    width: 100%;
    margin: 150px;
    margin-bottom: 500px;
}

.room {
    display: flex;
    flex-direction: row;
    margin-left: 24%;
    border: #63432E solid 8px;
    width: 50%;
}

.room__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room__info-title {
    color: #FFF;
    font-size: 5rem;
    margin: 11px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.room__info-text {
    margin: 5px;
    font-size: 54px;
    font-family: 'Playfair Display', serif;
}

.room__picture {
    width: 60%;
}

.room__button {
    display: flex;
    justify-content: center;
    background-color: #63432E;
}

.room__button-text {
    color: #FFF;
    margin: 10px;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
