@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700&family=Frank+Ruhl+Libre:wght@700;900&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,500;1,800&display=swap');

/*Home page*/

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.wrapper {
    background-image: url(/css/bilder/bakgrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.navigation__logo {
    margin: 20px 100px 20px 20px;
    width:auto;
    height:70px;
}

.navigation__language {
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
    font-size: 1rem;
}

.navigation__menu {
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
}

.navigation__menu-page {
    margin: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18%;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    color: whitesmoke;
    font-size: 6rem;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

.title__addition {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: whitesmoke;
    font-size: 1rem;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:430px;
}

.social__homepage {
    height: 30px;
    width: auto;
    margin: 8px;
}

/*About page*/

.content {
    display: flex;
    flex-direction: column;
}

.about {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    margin: 0 0 60px 0;
    width: 100%;
}

.about__colored {
    background-color: #63432E;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
}

.about__image {
    width: 100%;
    border: solid black 1px;
    height:449px;
}

.about__white {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 3rem;
    margin: 0 0 25px 28px;
    font-family: 'Playfair Display', serif;
}

.about__text {
    color: black;
    padding: 0 20px 0 20px;
    margin: 10px 0 20px 0;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.about__button,
.gallery_button {
    width: 170px;
    height: 30px;
    margin: 10px 0 0 20px;
}

.about__button-text,
.gallery__buttont-text {
    margin: 0;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.about__white-title {
    font-size: 25px;
    margin-top: 8px;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
}

.about__white-text {
    color: black;
    padding: 11px;
    margin: 0;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.about__quote {
    background-color: #63432E;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__quote-title {
    font-size: 3rem;
    padding: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

.about__quote-text {
    color: #000;
    margin-left: 38%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2rem;
}

/*Aside with instagram gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin-bottom: 18px;
}

.gallery__image {
    grid-column: auto / span 2;
    width: 300px;
    height: auto;
    margin-top: 10px;
    border: solid black 3px;
}

.gal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    align-self: flex-start;
    margin: 50px 0 33px 80px;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.mainfooter {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #63432E;
    border-top: solid black 3px;
    height: 28%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.contacts__text {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 15px;
}

.map , .logotype{
    padding: 15px;
}

/*Booking page*/

.background {
    background-image: url(/css/bilder/bakgrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.calender {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calender__wrapper {
    width: 50%;
    display: flex;
    justify-content:center;
    margin-left: 30px;
}

.calender__box,
.calender__button {
    border: #63432E solid 5px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.calender__box-text,
.calender__button-text {
    color: #63432E;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-align: center;
    margin: 8px;
}

.main {
    margin: 50px;
}

.room {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    border: #63432E solid 5px;
    width: 50%;
}

.room__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room__info-title {
    color: #FFF;
    font-size: 28px;
    margin: 2px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.room__info-text {
    margin: 5px;
    font-size: 18x;
    color: #FFF;
    font-family: 'Playfair Display', serif;
}

.room__picture {
    width: 60%;
}

.room__button {
    display: flex;
    justify-content: center;
    background-color: #63432E;
    width: 50%;
}

.room__button-text {
    color: #FFF;
    margin: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 786px) {
    .wrapper {
      background-position: center;
    }
  
    .navigation__logo {
      margin: 5px 50px 5px 5px;
      max-width: 15%;
    }
  
    .navigation__language {
      display: none;
    }
  
    .navigation__menu {
      margin-left: 2%;
      width: 70%;
    }
  
    .navigation__menu-page {
      margin: 3%;
      font-size: x-large;
    }
  
    .title {
      width: 60%;
    }
  
    .title h1 {
      font-size: 80px;
      margin-top: 30%;
    }
  
    .title__addition {
      font-size: large;
    }
  
    .socials {
      display: none;
    }
  
    .content {
      display: grid;
    }
    .about {
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: auto;
      max-width: 1000px;
    }
  
    .about__colored {
      max-width: 1000px;
    }
  
    .about__title {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      padding: 1%;
      max-width: 700px;
      margin: 0;
    }
  
    .about__text {
      padding: 2%;
      margin: 0 0 20px 0;
      font-size: 2, 5rem;
    }
  
    .about__button,
    .gallery_button {
      width: 400px;
      height: 80px;
      margin: 0 0 40px 40px;
    }
  
    .about__button-text,
    .gallery__buttont-text {
      margin: 0;
      color: #000;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: "Playfair Display", serif;
    }
  }
  